$BGheader : #37465E;
$FONT : 'Young Serif', serif;

body {
    background-color:#FFFFF4;
}

//--------------------------------------------------------Bouton-------------------------------------------------------------
.BOUTTON {
    display: flex;
    justify-content: center;
}

#UN {
    margin-right: 1em;
}

button {
    --c:  #636F82; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
        var(--_g) calc(var(--_p,0%) - 100%) 0%,
        var(--_g) calc(200% - var(--_p,0%)) 0%,
        var(--_g) calc(var(--_p,0%) - 100%) 100%,
        var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
}

button:hover {
    color: black;
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
}

button:active {
    box-shadow: 0 0 9e9q inset rgba(0, 0, 0, 0.6); 
    background-color: var(--c);
    color: #fff;
}

button {
    margin-top: 2em;
    color: #636F82;
    font-family: $FONT;
    font-size: 2rem;
    cursor: grab;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
}

//----------------------------------------------------TITRE-----------------------------------------------------------------
.Header {
    margin-top: 6em;


    &-titre {
        color: #DECDB2;
        font-family: $FONT;
        border-radius: 30px;
        border: solid white 4px;
        padding: 1em;
        height: 12em;
        background-color: $BGheader;
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;  
        box-shadow: 10px 5px 5px rgb(53, 53, 53);
    }

    &-H1 {
        font-size: 3em;
    }
}
//------------------------------------------------------------TITRE ANIMATION----------------------------------------------------
.ml9  {
    position: relative;
}

.ml9  .text-wrapper {
    position: relative;
    overflow: hidden;
}

.ml9  .letter {
    transform-origin: 50% 100%;
    display: inline-block;
}

.ml9  .text-wrapper2 {
    position: relative;
    overflow: hidden;
}


.ml9  .letter-line2 {
        transform-origin: 50% 100%;
        display: inline-block;
    
}

//-----------------------------------------------------------description------------------------------------------------------------
.Section {


    &-text {
        margin: 6em;
        color: #DECDB2;
        padding: 1em;
        font-family: $FONT;
        border-radius: 30px;
        border: solid white 4px ;
        height: 18em;
        background-color: $BGheader;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        box-shadow: 10px 5px 5px rgb(53, 53, 53);

    }

    &-text2 {
        font-size: 2em;
    }
    
}
//----------------------------------------------------lien-----------------------------------------------

.section {
    margin: 6em;
    padding: 1em;
    font-family: $FONT;
    border-radius: 30px;
    border: solid white 4px;
    height: 20em;
    background-color: $BGheader;
    box-shadow: 10px 5px 5px rgb(53, 53, 53);


    &-text {
        margin-top: 4em;
        display: flex;
        align-items: center;
        justify-content: space-around;  
    }

    &-linkedin {
        color: #DECDB2;
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    
    &-linkedin2 {
        font-size: 5em;
        margin-left: 0.5em;
        cursor: grab;
    }
    
    &-linkedin2:hover {
        background-color: #DECDB2;
        color: #37465E;
        border-radius: 20px;
    }

    &-linkedin3 {
        text-decoration: none;
        color: #DECDB2;
    }

    &-gitub {
        display: flex;
        color: #DECDB2;
        margin: 0;
        text-align: center;
        display: flex;
        align-items: center;
    }
    
    &-gitub2 {
        font-size: 5em;
        margin-left: 0.5em;
        cursor: grab;
    }
    
    &-gitub2:hover {
        background-color: #DECDB2;
        color: #37465E;
        border-radius: 20px;
    }
    
    &-gitub3 {
        text-decoration: none;
        color: #DECDB2;
    }

}

//-------------------------------------------------portfolio---------------------------------------------

.Portfolio {
    margin: 6em;
    padding: 1em;
    font-family: $FONT;
    border-radius: 30px;
    border: solid white 4px;
    height: 30em;
    background-color: $BGheader;
    box-shadow: 10px 5px 5px rgb(53, 53, 53);

}

.Titree {
    display: flex;
    justify-content: center;
    font-size: 4em;
    color: #DECDB2;
}

//-------------------------------------------------Card--------------------------------------------------------------------------


*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.inside-page__heading,
.card-front__text-view {
    font-size: 1.3rem;
    font-weight: 800;
    margin-top: .2rem;
}

.inside-page__heading--city,
.card-front__text-view--city { color: #DECDB2; }

.inside-page__heading--ski,
.card-front__text-view--ski { color: #DECDB2; }

.card-front__tp { color: #fafbfa; }

.card-front__icon {
    fill: #fafbfa;
    font-size: 3vw;
    height: 3.25rem;
    margin-top: -.5rem;
    width: 3.25rem;
}

.inside-page__btn {
    background-color: transparent;
    border: 3px solid;
    border-radius: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 2rem;
    overflow: hidden;
    padding: .7rem .75rem;
    position: relative;
    text-decoration: none;
    transition: all .3s ease;
    width: 90%;
    z-index: 10;
}

.inside-page__btn::before { 
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: scaleY(0);
    transition: all .3s ease;
    width: 100%;
    z-index: -1;
}

.inside-page__btn--city { 
    border-color: #DECDB2;
    color: #DECDB2;
}

.inside-page__btn--city::before { 
    background-color: #DECDB2;
}

.inside-page__btn--ski { 
    border-color: #DECDB2;
    color: #DECDB2;
}

.inside-page__btn--ski::before { 
    background-color: #DECDB2;
}


.inside-page__btn:hover { 
    color: #fafbfa;
}

.inside-page__btn:hover::before { 
    transform: scaleY(1);
}

.card-area {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-around;
    padding: 1rem;
}

.card-section {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.card {
    background-color: rgba(0,0,0, .05);
    box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
    height: 15rem;
    position: relative;
    transition: all 1s ease;
    width: 15rem;
}

.flip-card {
    height: 15rem;
    perspective: 100rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    visibility: hidden;
    width: 15rem;
    z-index: 100;
}

.flip-card > * {
    visibility: visible;
}

.flip-card__container {
    height: 100%;
    position: absolute;
    right: 0;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 1s ease;
    width: 100%;
}

.card-front,
.card-back {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.card-front {
    background-color: #fafbfa;
    height: 15rem;
    width: 15rem;
}

.card-front__tp {
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    padding: .75rem;
}

.card-front__tp--city {
    background: linear-gradient(
        to bottom,
        #DECDB2,
        #DECDB2
    );
}

.card-front__tp--ski {
    background: linear-gradient(
        to bottom,
        #DECDB2,
        #DECDB2
    );
}

.card-front__bt {
    align-items: center;
    display: flex;
    justify-content: center;
}

.card-back {
    background-color: #fafbfa;
    transform: rotateY(180deg);
}


.inside-page {
    background-color: #fafbfa;
    box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
    height: 100%;
    padding: 1rem;
    position: absolute;
    right: 0;
    transition: all 1s ease;
    width: 15rem;
    z-index: 1;
}

.inside-page__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center; 
    width: 100%;
}

.card:hover {
    box-shadow:
    -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
    width: 30rem;
}

.card:hover .flip-card__container {
    transform: rotateY(-180deg);
}

.card:hover .inside-page {
    box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}

//---------------------------------------------------------Formaulaire--------------------------------------------------------------
form {
    margin: 6em;
    padding: 1em;
    font-family: $FONT;
    border-radius: 30px;
    border: solid white 4px;
    height: 30em;
    background-color:#DECDB2;
    box-shadow: 10px 5px 5px rgb(53, 53, 53);
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $BGheader;
}

#email{
    font-size: 2em;
    width: 10em;
    margin-left: 2em;
}

#msg {
    font-size: 2em;
    height: 4em;
    width: 15em;
    margin-left: 2.5em;
}

label {
    margin-left: 4em;

}

.Titreee {
    display: flex;
    justify-content: center;
    font-size: 4em;
    color: $BGheader;
}

.bubbly-button {
    margin-left: 2em;
}







//---------------------------------------------------------footer---------------------------------------------------------------------
.Footer {
    margin-top: 6em;
    padding: 1em;
    font-family: $FONT;
    border-radius: 30px;
    border: solid white 4px;
    height: 10em;
    background-color: $BGheader;
    box-shadow: 10px 5px 5px rgb(54, 53, 53);




    &-text {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 2em;
    }
}


